<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link href="{{ site.url }}/assets/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/assets/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="{{ site.url }}/assets/components/highlightjs/styles/github.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        <style>
        /** quick fix because bootstrap <pre> has a background-color. */
        pre code { background-color: inherit; }
        </style>
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ site.url }}/">{{ site.title }}</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="{{ site.url }}/blog">Blog</a></li>
                                <li><a href="{{ site.url }}/blog/categories">Categories</a></li>
                                <li><a href="{{ site.url }}/about">About</a></li>
                                <li><a href="{{ site.url }}/status_photos">Drop The Mike</a></li>
                                <li><a href="{{ site.url }}/playlist">Hack The Fat Playlist</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </header>
        <div class="mainContent container">
            <div class="row-fluid">
                <div class="span8">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <div class="span4 sidebar">
                    <div class="well sidebar-nav">
                        <h4>Status</h4>
                        <ul class="nav">
                            <li>Weight: {{ site.weight }}</li>
                            <li>Total lost: {{ site.weight_lost }}</li>
                            <li>Last updated: {{ site.weight_date }}</li>

                        </ul>
                        <h4>General Information</h4>
                        <ul class="nav">
                            <li>Gym enrollment date: {{ site.gym_enrollment_date }}</li>
                            <li>First trainer session: {{ site.first_trainer_session }}</li>
                        </ul>
                        <h4>Links</h4>
                        <ul class="nav">
                            <li><a href="https://runkeeper.com/user/tw2113/profile">Runkeeper profile</a></li>
                            <li><a href="http://www.myfitnesspal.com/tw2113">MyFitnessPal profile</a></li>
                            <li><a href="https://www.fitbit.com/user/3S39Q3">Fitbit profile</a></li>
                            <li><a href="https://www.facebook.com/groups/1469780026645605/">BenchPress Facebook Group</a></li>
                        </ul>
                        <h4>Mental Health</h4>
                        <ul class="nav">
                            <li><a href="http://osmihelp.org/">Open Sourcing Mental Illness</a></li>
                            <li><a href="https://hackthestigma.github.io/">Hack The Stigma</a></li>
                            <li><a href="http://mhprompt.org/">Prompt</a></li>
                        </ul>
                    </div>
                    <div class="well">
                        <h4>Quotes from my trainer</h4>
                        <span id="quote"></span>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container">
            &copy; {{ "now"|date("Y") }} {{ site.title }}.
            {{
            random(
                [
                    'I\'ve got a cunning plan.',
                    'Damn the man! Thin the Michael!',
                    'If you\'re not questioning my sanity, I\'m not trying hard enough'
                ]
            )
            }}
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/components/jquery/jquery.min.js"><\/script>')</script>
        <script src="{{ site.url }}/assets/components/bootstrap/js/bootstrap.min.js"></script>
        <!-- Piwik -->
        <script>
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://trexthepirate.com/traffic/" : "http://trexthepirate.com/traffic/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script>
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {
                    { site.piwik_id }
                });
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch (err) {}
        </script>
        <noscript><p>
            <img src="https://trexthepirate.com/traffic/piwik.php?idsite={{ site.piwik_id }}" style="border:0" alt="" />
        </p></noscript>
        <!-- End Piwik Tracking Code -->
        <script>
            var quotes = [
                '"Let\'s go row."',
                '"Come with me if you want to lift"'
            ];
            var random = quotes[Math.floor(Math.random() * quotes.length)];
            document.querySelector('#quote').innerHTML = random;
        </script>
        {% block scripts %}
        {% endblock %}

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
